#root, body, html {
  height: 100%;
}

.App {
  display: flex;
  height: 100%;
}

.App-logo {
  height: 8vmin;
}

.Content {
  text-align: center;
}

.Header {
  display: flex;
  align-items: center;
  padding-inline: 10px;
}